
@{
    ViewData["Title"] = "Register";
    ViewBag.Title = "Register";
    Layout = "~/views/Shared/_AuthLayout.cshtml";
}


<body class="bg-secondary-subtle">
    <h1 class="text-center">Register</h1>

</body>

